
body {
    background-color: #51514F;
	/** Google web font.
        font-family: 'Chewy', cursive; 
        or 
        font-family: 'Permanent Marker', cursive;**/
	font-family: 'Permanent Marker', cursive;
	
}

.btn {
	background-color: #F26A68;
	font-family: 'Trade Winds', cursive;
	font-size: 20px;
	color: #FFE272;
	padding: 15px 10px;
}

.jumbotron {
	background-color: #51514F;
}

.modal-content {
	background-color: #51514F;
}

.modal-header{
	border-bottom-width: 0;
}

.modal-body {
	background-color: #70c1b2;
	font-family: 'Trade Winds', cursive;
}

.modal-footer {
	border-top-width: 0;
}

.container {
	background-color: #F26A68;
	font-family: 'Trade Winds', cursive;
	font-size: 20px;
	color: #FFE272;
	padding: 15px 10px;
	margin: 15px;
}

.
.slider {
	text-align: center;
}

.img-circle {
	padding-right: 3px;
}
/**heading 'Settings' */
.heading {
	/* text-align: center;  Can be done with bootstrap */
	/* font-size: 60px; 	Font sizes can be manipulated with boostrap */
	color: #F26A68;
	margin-bottom: 15px;
}
