#body {
    /** Google web font.
        font-family: 'Chewy', cursive;
        or
        font-family: 'Permanent Marker', cursive;**/
    background-color: #51514F;
    font-family: 'Permanent Marker', cursive;

}

.btn {
    background-color: #F26A68;
    font-family: 'Trade Winds', cursive;
    color: #FFE272;
    padding: 15px 10px;
}

thead {
    font-size: 1.5em;
    color: #F26A68;
    margin-bottom: 15px;
}
td {
    background-color: #70c1b2;
    font-family: 'Trade Winds', cursive;

}