#body {
    /** Google web font.
        font-family: 'Chewy', cursive;
        or
        font-family: 'Permanent Marker', cursive;**/
    background-color: #51514F;
    font-family: 'Permanent Marker', cursive;

}

#body h2 {
	color: #F26A68;
}

.btn {
    background-color: #F26A68;
    color: #FFE272;
    padding: 15px 10px;
	font-family: 'Trade Winds', cursive;
}
.backbtn {
	margin-bottom: 10px;
}
thead {
	font-family: 'Trade Winds', cursive;
    font-size: 1.5em;
    color: #F26A68;
    margin-bottom: 15px;
}
td {
    background-color: #70c1b2;
    font-family: 'Chewy', cursive;

}

.modal-content {
	background-color: #51514F;
	font-family: 'Permanent Marker', cursive;
}
.content {
	text-align: center;
}

.modal-header{
	border-bottom-width: 0;
	background-color: #51514F;
	color: #F26A68;
}

.modal-body {
	background-color: #70c1b2;
	font-family: 'Trade Winds', cursive;
}

.modal-footer {
	border-top-width: 0;
	background-color: #51514F;
}

.btn {
	background-color: #F26A68;
	font-family: 'Trade Winds', cursive;
	font-size: 20px;
	color: #FFE272;
	padding: 15px 10px;
}

.footer .glyphicon {
	font-size: 40px;
}