#timebar{
	width: 1000px;
	height: 20px;
	border: 1px solid black;
	background: #FFFF00;
	margin: auto;
}

#score {
	font-family: 'Chewy', cursive;
}

body{
	background-color : #51514F;
}

/** Navi bar */
.container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.navibar {
	margin-top: -20px;
}
.navigation{
	background-color: #FFE066;
}
.messagemessage{
	background-color: #237BA0;
}
.success{
	background-color: #70C1B2;
	height: 6em;
}
.fail{
	background-color: #F25E5C;
	height: 6em;
}
.footer{
	position: absolute;
	bottom: 1em;
	width: 100%;
}
h1{
	font-size: 450%;
}

.fancy{
	font-weight: bold;
	margin-top: -10px;
}
#racetext{
	font-size: 400%;
}

.btn {
    background-color: #F26A68;
    color: #FFE272;
    padding: 15px 10px;
	font-family: 'Trade Winds', cursive;
}
.backbtn {
	margin-bottom: 10px;
}
thead {
	font-family: 'Trade Winds', cursive;
    font-size: 1.5em;
    color: #F26A68;
    margin-bottom: 15px;
}
td {
    background-color: #70c1b2;
    font-family: 'Chewy', cursive;

}
/**modal size*/
.modal-dialog {
	width: auto;
}
.modal-content {
	background-color: #51514F;
	font-family: 'Permanent Marker', cursive;
}
.content {
	text-align: center;
}

.modal-header{
	border-bottom-width: 0;
	background-color: #51514F;
	color: #F26A68;
	text-align: center;
}

.modal-body {
	background-color: #70c1b2;
	font-family: 'Trade Winds', cursive;
}

.modal-footer {
	border-top-width: 0;
}

.btn {
	background-color: #F26A68;
	font-family: 'Trade Winds', cursive;
	font-size: 20px;
	color: #FFE272;
	padding: 15px 10px;
}

.footer .glyphicon {
	font-size: 40px;
}

#midtable .col-xs-1 {
	color: #fff;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}
/** Put the problem in the center*/
.game {
	margin-top: 40px;
}
.colfix {
	padding: 40px 0px;
}
.first {
	padding: 20px 0px 10px 13px;
}
.plus {
	padding: 20px 5px 10px 5px;
}
.second {
	padding: 20px 20px 10px 10px;
}
.equal {
	padding: 20px 25px 10px 3px;
}
.third {
	padding: 20px 5px 10px 20px;
}